#Resume {
    /* Simulate Short Bond Paper */
    height: 1056px;
    width: 816px;

    /* For easy visualization */
    border: 1px solid black;

    /* Formatting */
    display: flex;
    flex-direction: column;
    padding: 30px;
}